@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

* {
    box-sizing: border-box;
    font-family: "Raleway";
    color: black;

}

header {
    margin-bottom: 10em;
}

.nav-badge {
    position: relative;
    top: 22px;
    right: 18px;
}

.mainlogo{
    max-width: 3.6em !important;
    margin-right: 1em;

}

.nav-wrapper{
    min-height: 10em !important;
    background-color: rgba(250, 226, 12, 0.212);
}

.searchbar{

}

.menu{
    font-size: 3rem !important;
    left: 0.4em !important;
}

.sidenav-footer{
    font-size: 1em !important;
}

.sidenav{
    min-width: 3vw !important;

}

.sidenav a{
    font-size: 1.5em !important;
}

.searchbar{
    
}

.imgsidenav{
    height:  150px !important;
    border-radius: 60%;
}

.sidenav-media{
    top: 0.4em;
    right: 5em;
}

.sidenav-cart{
    position: relative !important;
    left: 2em;
}

.sidenav-badge{
    left: 6.5em;
    top: 1em;

}

.cart-mobile{
    min-height: 3.5em !important;
    min-width: 3.5em !important;
    right: 3em !important;
}
.cart-mobile1{
    font-size: 1.6em !important;
}
.cart-desktop{
    font-size: 2.3em !important;
}

.cart1{
    font-size:  2.5em !important;
    position: relative !important;
    left: 0em;

}

.row1 > div{
    padding: 20px;
    margin: 5px 20px 20px 5px;
    background: rgb(241, 240, 240);
    line-height: 5vw;
}


.btn1{
    margin-bottom: 10px;
    border: 1px solid gray;
}

section{

    padding-bottom: 0.3vh;
}

.tabs .indicator{
    background-color: #1a237e;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
    background: transparent;
}

.parallax{
    max-height: 400px;
}

.mediaicon{
    right:20px;
    margin-bottom: 12px;
    margin-top: 10px;
}



.footer-copyright{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 15px;

}

@media only screen and (max-width: 600px) {
    .slides {
        height: 250px !important;
    }
    .slider {
        height: 300px !important;
    }
}

@media only screen and (min-width: 600px) {
    .slides {
        height: 200px !important;
    }
    .slider {
        height: 250px !important;
    }
}


.modal-trigger{
    margin-top: 2em;
    margin-bottom: 1em;
}

.storeimg{
    max-height: 18vh;
    max-width: 19vh;
    margin-bottom: 25px;
}
